{% extends 'authentication/pages/base.html' %}
{% load widget_tweaks %}

{% block title %}Welcome | Please login{% endblock %}

{% block content %}
    <section id="login-section" class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-container">
                        <div class="heading">
                            <h1>Please sign in</h1>
                        </div>
                        <form class="form-login" method="post" action="." autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if form.errors %}
                                        <p class="error">There was a problem with your credentials, please try again.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group has-feedback">
                                        {{ form.username.errors }}
                                        <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.label }}</label>
                                        {{ form.username|add_class:"form-control"|attr:"type:email"|attr:"placeholder:Email" }}
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group has-feedback">
                                        {{ form.password.errors }}
                                        <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.label }}</label>
                                        {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
                                        <i class="fa fa-lock form-control-feedback"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if next %}
                                        <input type="hidden" name="next" value="{{ next }}" />
                                    {% else %}
                                        <input type="hidden" name="next" value="{% url 'phone:home' %}" />
                                    {% endif %}
                                    <input class="btn signin" type="submit" value="Sign in" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}