{% extends 'phone/pages/_base.html' %}
{% load widget_tweaks %}

{% block title %}Welcome {{ request.user.first_name }} to your phone reporting dashboard{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <section class="header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#menu-toggle" class="btn btn-blue toggle-menu" id="menu-toggle"><i class="fa fa-bars"></i>  </a>
                        <h1 class="welcome-msg">Welcome {{ request.user.first_name }}</h1>
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-blue logout" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="filter-bar">
            <form id="filter-bar-form">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        {% include 'phone/reusable/_datepicker.html' %}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {{ form.filters|add_class:"multipleSelect" }}
                    </div>
                </div>
            </form>
        </section>

        {% include 'phone/reusable/_charts.html' %}

    </div>

{% endblock %}