{% extends 'base.html' %}
{% load sekizai_tags %}

{% block title %}Welcome {{ request.user.first_name }} to your phone reporting dashboard{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <section class="header-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="#menu-toggle" class="btn btn-blue toggle-menu" id="menu-toggle"><i class="fa fa-bars"></i>  </a>
                        <h1 class="welcome-msg">Welcome {{ request.user.first_name }}</h1>
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-blue logout" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="filter-bar">
            <form id="filter-bar-form">
                {{ form }}
            </form>
        </section>

        <section class="chart-section">
            <div class="container-fluid">
                <div class="row">
                    {% for chart in charts %}
                        <div class="col-xs-6">
                            <div id="chart-{{ chart.pk }}" class="chart"></div>
                        </div>
                        {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>

    

    {% addtoblock "js" %}
        <script type="text/javascript">
            function setColumnChart(options){
                $.getJSON( options.url, function( json ) {

                    var series = json['series'],
                        categories = json['categories'];

                    var barOptions = {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: options.title
                        },
                        xAxis: {
                            categories: categories,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Count'
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}'
                        },
                        series: series
                    };

                    $(options.elm).highcharts(barOptions);
                });
            };

            function setStackedChart(options){
                $.getJSON( options.url, function( json ) {

                    var series = json['series'],
                        categories = json['categories'];

                    var barOptions = {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: options.title
                        },
                        xAxis: {
                            categories: categories,
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Count'
                            },
                            stackLabels: {
                                enabled: true,
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal'
                            }
                        },
                        series: series
                    };

                    $(options.elm).highcharts(barOptions);
                });
            };

        </script>
        <script type="text/javascript">
            function setCharts(){
                var form = $('#filter-bar-form');
                var qs = '?' + form.serialize();

                {% for chart in charts %}
                    {{ chart.chart_type }}({
                        url: '{{ chart.get_url }}' + qs + '{{ chart.query_string|default_if_none:"" }}',
                        elm: '#chart-{{ chart.pk}}',
                        title: '{{ chart.title }}' 
                    })
                {% endfor %}                
            }

            $(function(){
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $(".content-wrapper").toggleClass("toggled");
                });

                // set charts initially
                setCharts();

                // on form update referesh charts
                $('#filter-bar-form').change(function () {
                    setCharts();
                });

            })

        </script>
    {% endaddtoblock %} 

{% endblock %}