html, body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
    background: #f8f8f8;
}

.btn-blue{
    background:#79aec8;
    color:#fff;
    border:1px solid transparent;

}

.btn-blue:active,
.btn-blue:focus, 
.btn-blue:hover{
    background: #417690;
    color: #fff;
}


/****************************/
/* PAGE CONTENT */
/****************************/
.content-wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content-wrapper.toggled {
    padding-left: 70px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #384d60;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content-wrapper.toggled #sidebar-wrapper {
    width: 70px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    
}

.content-wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}



/*****************/
/*   SIDEBAR     */
/*****************/
#sidebar-wrapper{
    position:fixed;
    width:250px;
    height:100%;
}

.sidebar{
    background:#384d60;
    height: 100%;
}

.sidebar .branding{
    background:#2f4050;
    padding: 15px 25px 15px;
}

.sidebar .branding img.circle{
    max-width: 80px;
    width: 100%;
    border-radius:50%;
}

.sidebar .branding h3{
    color:#c7d3de;
    margin-top: 15px;
    margin-bottom: 7px;
}

.sidebar .branding .title {
    font-style: italic;
    color: #ff7700;
    font-size: 15px;
}
.sidebar-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
}
.sidebar-nav li.active{
    background:#293846;
    border-left:solid 4px #ff7700;
}

.sidebar-nav li i{
    margin-right:20px;
    text-indent: 0;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #c7d3de;
    text-transform: uppercase;
    
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

/* ----------------- */
/* minimised sidebar */
/* ----------------- */
.content-wrapper.toggled .sidebar h3,
.content-wrapper.toggled .sidebar .title,
.content-wrapper.toggled .sidebar-nav li a span {
    display:none;
}

.content-wrapper.toggled .sidebar .branding{
    padding: 10px;
}

.content-wrapper.toggled .sidebar-nav li a{
    text-align:center;
    font-size:20px;
    line-height:60px;
}



/****************************/
/* HEADER BAR */
/****************************/
.header-bar{
    width:100%;
    padding: 20px 0;
}

.header-bar .toggle-menu{
    float: left;
    margin-top: 3px;
    margin-right: 25px;
}

.header-bar h1.welcome-msg{
    display:inline-block;
    margin: 0;
}

.btn.logout{
    float: right;
    margin-top: 3px;
}
.btn.logout i{
    margin-right:5px;
}


/****************************/
/* FILTER BAR  */
/****************************/
.filter-bar{
    background:#fff;
    padding:20px;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
}

.filter-bar form label{
    margin-left: 30px;
    margin-right: 10px;
}
.filter-bar form label:first-child{
    margin-left:0;
}

.filter-bar .datepicker{
    height: 42px;
    border: 1px solid #D7D7D7;
    border-radius: 0;
    box-shadow: none;
}

.filter-bar i.fa-calendar{
    position:absolute;
    top: 13px;
    right: 27px;
}



/****************************/
/* CHARTS */
/****************************/
.chart-section{
    padding: 15px 0;
}

.chart-section .row{
    margin-bottom: 15px;
}

.chart{
    height:400px;
    border: 1px solid #eee;
    background: #fff;
}

.chart.loader::before{
    content: '';
    display: block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: url('../img/hourglass.svg') no-repeat center;    
}
