{% load sekizai_tags staticfiles %}


<section class="chart-section">
    <div class="container-fluid">
        {% for row in page.row_set.all %}
            <div class="row">
                {% for chart in row.chart_set.all %}
                    <div class="{{ row.get_bootstrap_col_classes }}">
                        {% if chart.chart_type == 'count' %}
                            <div class="stat-container">
                                <h3 id="chart-{{ chart.pk }}" class="stat">0</h3>
                                <p class="chart-text">{{ chart.title }}</p>
                            </div>
                        {% else %}
                            <div id="chart-{{ chart.pk }}" class="chart"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>


{% addtoblock "js" %}
    <script src="{% static 'phone/js/mycharts.js' %}"></script>
    <script type="text/javascript">
        function setCharts(){
            var form = $('#filter-bar-form');
            var qs = '?' + form.serialize();

            {% for row in page.row_set.all %}
                {% for chart in row.chart_set.all %}
                    $('#chart-{{ chart.pk}}').mycharts('{{ chart.chart_type }}', {
                        title: '{{ chart.title }}',
                        url: '{{ chart.get_url }}' + qs + '{{ chart.query_string|default_if_none:"" }}&only_me={{ only_me }}'
                    });
                {% endfor %}
            {% endfor %}
        }

        $(function(){
            $('#filter-bar-form').change(function () {
                // the datepicker is changing the form 
                // on load, so no need to call initially
                setCharts();
            });

        })

    </script>
{% endaddtoblock %} 
