Django>=1.10,<1.11
django-axes>=2.3.2
django-mptt>=0.8.7
django-polymorphic>=1.0
django-sekizai>=0.10.0
django-uuslug>=1.1.8
django-widget-tweaks>=1.4.0
djangorestframework>=3.6,<4.0
gunicorn>=19.6.0
ipython
numpy>=1.11
Pillow>=2.3 
psycopg2>=2.6
sorl-thumbnail>=12.3
